extends base

block content
  main.main
    .artwork-detail
      .artwork-detail__img-box
        - const imageUrl = artwork.image.startsWith('http') ? artwork.image : (artwork.image.includes('ruggierchromatico.com') ? `https://${artwork.image}` : (artwork.image.startsWith('art-') ? `https://ruggierchromatico.com/${artwork.image}` : `/img/artworks/${artwork.image}`))
        img.artwork-detail__img(src=imageUrl, alt=`${artwork.title}`)
      
      .artwork-detail__content
        h1.heading-secondary.artwork-detail__title= artwork.title
        .artwork__info
          if artwork.priceDiscount
            span.artwork-detail__price.card__price--old(style="margin-right: 1rem")= `$${artwork.price}`
            span.artwork-detail__price.card__price--new= `$${artwork.priceDiscount}`
          else
            span.artwork-detail__price= `$${artwork.price}`
        
        p.artwork-detail__text= artwork.description
        
        if artwork.colorPalette
          p.artwork-detail__feeling= artwork.colorPalette

        if artwork.status === 'for-sale'
          button.btn.btn--green.btn--buy(data-artwork-id=`${artwork.id}`) Buy Now
        else if artwork.status === 'sold'
          span.tag.tag--sold(style="margin-top: 2rem; display: inline-block;") SOLD
         
